.footer{
    background-color: black;
    align-items: center;
    color: white;
    padding: 20px;
    min-height: 100px;
    display: grid;
    text-align: center;
    place-items: center;
    margin-top: 3rem;
}

