.navbar{
    display: flex;
    gap: 2rem;
    align-items:center ;
    padding: 0 2rem;
    margin-right: 20%;
    background-color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;

    color:#ff6060;

}


.navbar__logo{
    margin-right: auto;
}