/* .banner {
  position: relative;
  max-width: 80vw;
  margin: auto;
  min-height: 140px;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.banner img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 2rem;
}

.text-overlay {
  color: rgb(255, 255, 255);
  font-size: 84%;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  font-family: 'Roboto', sans-serif;
  font-weight: 800;
} */

/* Styles pour les appareils mobiles */

@use "../sass/variables.scss" as *;


.banner {
  position: relative;
  max-width: 100%;
  margin: auto;
  min-height: 140px;
  border-radius: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;


}

.banner img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 2rem;
}


.text-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(255, 255, 255);
  font-size: 100%;

  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);

  font-family: 'Roboto', sans-serif;
  font-weight: 800;
}


@media screen and (max-width: 768px) {
  .banner {
    max-width: 90vw;
    min-height: 100px;
  }
}

@media screen and (max-width: 480px) {
  .banner {
    max-width: 95vw;
    min-height: 80px;
  }

  .text-overlay {
    font-size: 72%;
  }
}